
/**font family**/
@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/Gotham-Bold.woff2") format("woff2"), 
  url("../fonts/Gotham-Bold.woff") format("woff"), 
  url("../fonts/Gotham-Bold.ttf") format("truetype"), 
  url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
 }
@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/Gotham-Black.eot");
  src: url("../fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/Gotham-Black.woff2") format("woff2"), 
  url("../fonts/Gotham-Black.woff") format("woff"), 
  url("../fonts/Gotham-Black.ttf") format("truetype"), 
  url("../fonts/Gotham-Black.svg#Gotham-Black") format("svg");
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
 }

  @font-face {
    font-family: "Gotham-Medium";
    src: url("../fonts/Gotham-Medium.eot");
    src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Gotham-Medium.woff2") format("woff2"), 
    url("../fonts/Gotham-Medium.woff") format("woff"), 
    url("../fonts/Gotham-Medium.ttf") format("truetype"), 
    url("../fonts/Gotham-Medium.svg#Gotham-Medium") format("svg");
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }


    @font-face {
      font-family: "Gotham";
      src: url("../fonts/Gotham.eot");
      src: url("../fonts/Gotham.eot?#iefix") format("embedded-opentype"), 
      url("../fonts/Gotham.woff2") format("woff2"), 
      url("../fonts/Gotham.woff") format("woff"), 
      url("../fonts/Gotham.ttf") format("truetype"), 
      url("../fonts/Gotham.svg#Gotham") format("svg");
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
    }

    @font-face {
      font-family: "Gotham-Book";
      src: url("../fonts/Gotham-Book.eot");
      src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), 
      url("../fonts/Gotham-Book.woff2") format("woff2"), 
      url("../fonts/Gotham-Book.woff") format("woff"), 
      url("../fonts/Gotham-Book.ttf") format("truetype"), 
      url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
    }


    @font-face {
      font-family: "Bitter";
      src: url("../fonts/Bitter.eot");
      src: url("../fonts/Bitter.eot?#iefix") format("embedded-opentype"), 
      url("../fonts/Bitter.woff2") format("woff2"), 
      url("../fonts/Bitter.woff") format("woff"), 
      url("../fonts/Bitter.ttf") format("truetype"), 
      url("../fonts/Bitter.svg#Bitter") format("svg");
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
    }
    @font-face {
      font-family: "Gotham-BookItalic";
      src: url("../fonts/Gotham-BookItalic.eot");
      src: url("../fonts/Gotham-BookItalic.eot?#iefix") format("embedded-opentype"), 
      url("../fonts/Gotham-BookItalic.woff2") format("woff2"), 
      url("../fonts/Gotham-BookItalic.woff") format("woff"), 
      url("../fonts/Gotham-BookItalic.ttf") format("truetype"), 
      url("../fonts/Gotham-BookItalic.svg#Gotham-BookItalic") format("svg");
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
    }

.Gotham-Bold{
        font-family: "Gotham-Bold";
      }
.Gotham-Black{
        font-family: "Gotham-Black";
      }
.Gotham-Medium{
      font-family: "Gotham-Medium";
      }
.Gotham{
  font-family: "Gotham";
}
.Bitter{
  font-family: "Bitter";
}
p{ 
  font-family: "Bitter";
  font-size: 20.78px;
  margin-bottom: 2rem;
}
.bodytextcontent{
  padding: 20px 73px;
}
.quote{
  font-family: "Bitter";
  font-style: italic;
  display: block;
  clear: both;
  padding:1.9rem 1rem 0rem 0rem;
  p{
    font-family: "Bitter";
    font-style: italic;
    font-size: 25px;
  }
}
/*==============common css=================*/

.grid-container{
  max-width: 87%;
}

body{
  background: #F0F0F0;
}

.button{
  background-color: #981C1E;
  margin: 0px;
  font-family: "Gotham-Bold";
}
.panel {
  background: #fff;
 -webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
 -moz-box-shadow:    0px 10px 30px rgba(10, 10, 10, 0.3);
 box-shadow:         0px 10px 30px rgba(10, 10, 10, 0.3);
 .jarallax  {
  min-height: 506px;
}
  a{
    font-family: "Gotham-Bold";
    line-height: normal;
    font-size: 24.59px;
    margin-bottom: 2.5rem;
    color: #000;
    display: block;
    clear: both;
    padding: 50px 90px 50px 40px;
    position: relative;
    &::after{
      height: 45px;
      position: absolute;
      background: url(../img/arrow.png);
      background-repeat: no-repeat;
      content: "";
      width: 93px;
      top: 35%;
      bottom: 50%;
      right: 0px;
      background-position: 20% 0%;
    }
    &:hover{
      &::after{
        background-repeat: no-repeat;
        background-position: 20% 98%;
      }
    }

}
    
  p{
    color: #000000;
    font-family: "Bitter";
    font-size: 12px;
  }
  img{
    display: block;
    clear: both;
   // width: 100%;
  }
 }
.panel-yellow,.panel-brown{
  background: #DC8A03;
  
  a{
    color:#fff;
 
    p{
      color:#fff;
      margin: 10px 0px 0px 0px;
    }
    &::after{
      background-position: 20% 50%;
    }
    &:hover{
      &::after{
        background-position: 20% 0%
      }
    }
  }
}


.grid-x {
.cell{
&:last-child{
  .panel-brown{

    background: #981C1E;
    
  a{
    margin-bottom: 0px;
  }
  }
}
}
}
.panel-wrapper{
.cell{
&:nth-child(1),&:nth-child(2){
.panel{
a{
  margin-bottom: 0px;
}
}
}
}
.jarallax{
  min-height: 491px;
}
}

.panel-image{
.jarallax  {
  min-height: 366px;
}
}
 .subheader{
  font-family: "Gotham-Bold";
  font-size: 25.5px;
  text-transform: uppercase;
  color: #000;
  padding: 1.9rem 0rem;
  margin: 0px;
 }
/*==============header=================*/
header.show-for-small-only{
  -webkit-backface-visibility: hidden;
  background: #fff;
  color: #fff;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
 .button{
    color: #fff;
    height: 2.8125rem;
    line-height: 2.8125rem;
    padding: 0;
    width: 2.8125rem
  }
  .logo{
    margin: 0 auto;
  }
  .searchmobi{
float: right;
  }
}
header{
background: #fff;
height: 74px;


  .logo{
    display: table;
    vertical-align: middle;
    height: 74px;
    text-align: center;
    margin: 15px auto
  }
  .search_icon{
    position: relative;
    margin-top: 13px;
    display: block;
    padding: 1em 1.5em;
    background: #fff;
    &:hover,&:active,&:focus{
      background: #fff;
      color:#fff;
    }
    &::after{
      content: "|";
      position: absolute;
      left: 0px;
      font-size: 19px;
      color: #000
    }
.fa{
  color: #000;
  font-size: 19px
}
  }

  nav{
   // padding: 20px 0px 0px 0px;
a{
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Gotham-Medium";
  text-align: center;
  line-height: 74px;
  display: inline-block;
  &:hover,&.active{
    position: relative;
    z-index: 1;
    color: #fff;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
&::before{
  position: absolute;
  background: #981C1E;
  content: "";
  left: -6px;
  right: -6px;
  padding: 20px;
  z-index: -1;
  top: 0;
  bottom: 0;
}
&.active{
  padding-right: 30px;
  padding-left: 30px;
}
  }

}
  }
}

/*==============banner=================*/

.banner{
.jarallax  {
    min-height: 465px;
  }
  .overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    padding: 1rem;
    //background-color: rgba(10,10,10,40%);
    background-image: url(../img/overlay.png);
    color: #fefefe;
    height: 100%;
  }
  figure{
    figcaption{
      color: #fff;
      position: absolute;
      width: 100%;
      margin-bottom: 0;
      padding: 1rem;
      bottom: 20px;
      left: 5.5rem;
h1{
  font-family: "Gotham-Bold";
  font-size: 28px;
  line-height: normal;
  text-transform: uppercase;
  width: 80%;
  margin: 0px 0px 20px 0px;
}
      
      a{
        font-family: "Gotham-Bold";
        font-size: 14px;
        clear: both;
        text-transform: uppercase;
        background: #981C1E;
        padding: 0px;
        width: 132px;
        height: 33px;
        margin: 0px;
        line-height: 33px;
      }
    }
  }

  .owl-dots{
    position: absolute;
    right: 7.3rem;
    bottom: 0px;
    top: 10rem;
    height: 100%;
    margin: 0 auto;
    width: initial;
    left: initial;
    .owl-dot {
      background-color: #fff;
      display: block;
      width: 10px;
      height: 10px;
      margin: 20px 0px 0px 0px;
      border-radius: 50%;
    &.active{
      background-color: #DC8A03; 
    }
    }
  }
}

footer.top{
  background: #c9c9c9;
  height: 133px;
  line-height: 133px;
  a{
color: #000;
font-size: 14.05px;
font-family: "Gotham-Medium";
text-transform: uppercase;
  }
  p{
    color: #000;
    font-size: 14.05px;
    font-family: "Gotham-Medium";
    text-align: center;
    padding: 30px 0px 0px 0px;
    margin: 0px;
      }
      .social{
float: right;
a{
  padding: 0px 10px 0px 0px;
  &:last-child{
    padding: 0px;
  }
  .fa{
    font-size: 25px;
  }
}
      }
}

footer.bottom{
  height: 127px;
  background: #000;
  padding: 40px 0px;

a{
  color: #fff;
  font-size: 11.94px;
  line-height: 11.94px;
  font-family: "Gotham-Medium";
  text-transform: capitalize;
  display: inline;
  padding: 0px 8px 0px 8px;
  position: relative;
  &::after{
    content: "|";
    position: absolute;
    right: -2px;
    top: 0px;
  }
  &:last-child{
    &::after{
      display: none;
    }
  }
}
p{
  clear: both;
  line-height: normal;
  color: #fff;
  font-family: "Gotham-Medium";
  text-align: center;
  text-transform: uppercase;
  font-size: 11.94px;
  letter-spacing: 1px;
  margin: 20px 0px 0px 0px;
}
}

/*==============reveal modal=================*/

.reveal{
  background: #DC8A03;
  border: none;
  padding: 6rem;
 .subheader{
  text-align: center;
  color: #fff;
  padding: 0px;
  font-style: italic;
  text-transform: capitalize;
 } 
 [type=text]{
  margin: 0px;
  border-radius: 20px 0px 0px 20px;
 }
 .button{
  border-radius: 0px 20px 20px 0px;
 }
 p{
  color: #fff;
  font-style: italic;
  text-align: center;
 }
}

/*==============thumbnail slider=================*/

.owl-dots{
  position: absolute;
  bottom: -30px;
  text-align: center;
  width: 100%;
  .owl-dot {
    background-color: #fff !important;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px 20px 0px 0px;
    border-radius: 50%;
  &.active{
    background-color: #DC8A03 !important; 
  }
  }
}

.thumbnailcarousel{
background: #fff;
padding: 40px 0px 40px 0px;
height: 153px;
.owl-carousel{
padding: 0px 40px;
margin: 20px 0px 0px 0px;
.owl-nav {
  top: 0%;
}
img{
  width: initial;
}
}
}
.carousel-people,.carousel-people-inner{
  -webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  -moz-box-shadow:    0px 10px 30px rgba(10, 10, 10, 0.3);
  box-shadow:         0px 10px 30px rgba(10, 10, 10, 0.3);
  margin: 0px 0px 4rem 0px;
  .owl-dots {
    bottom: -57px;
    .owl-dot{
      width: 33px;
      height: 4px;
      border-radius: 0;
    }
  }
  .owl-nav {
    top: initial;
    bottom: 50px;
    .owl-prev,.owl-next{
      background-image: url(../img/arrowthumb.png) !important;
      height: 51px;
      width: 49px;
    }
    .owl-next{
      left: 49px;
    background-position: 50px 0px !important;
    }
  }
  .jarallax{
    min-height: 448px;
  }
.panel{
  .bodytextwrapper{
padding: 3rem;
  }
  .subheader{
    text-align: right;
    font-family: "Gotham-Black";
    font-size: 24.59px;
    margin: 0px;
    padding: 0px;
    display: block;
    clear: both;
    margin: 0px;
  }
  p{
    font-size: 16.86px;
    text-align: right;
    display: block;
    clear: both;
  }
  a{
    font-family: "Gotham-Bold";
    font-size: 17.56px;
    display: block;
    clear: both;
    text-transform: uppercase;
    background: #981C1E;
    padding: 0px;
    width: 200px;
    height: 50px;
    margin: 0px;
    line-height: 50px;
    color:#fff;
    float: right;
    &::after{
     display:none
    }
  }

}
}
.owl-nav{
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0px;
  left: 0px;
.owl-prev,.owl-next{
  font-size: 0px;
  background-image: url(../img/arrowcarouselleft.png) !important;
  display: block;
  height: 31px;
  width: 19px;
  position: absolute;
  top: 0px;
  bottom:0px;
  span{
    font-size: 0px;
  }

}
.owl-prev{
 
  left: 0px;
  
}
.owl-next{
  
    background-image: url(../img/arrowcarouselright.png) !important;
    right: 0px;
  
}
}


/*==============stock=================*/

.stock-wrapper{
.grid-container-full{
  .cell{
    h1{
      font-family: "Gotham-Medium";
      font-size: 23px;
      clear: both;
      height: 78px;
      color: #fff;
      line-height: 78px;
      padding-left: 6.4rem;
      margin: 0px
    }
    &:first-child{
      h1{
        background: #981C1E;
        text-transform: capitalize;
      }
    }
    &:last-child{
      h1{
        background: #DC8A03;
        text-transform: uppercase;
        font-size: 32.32px;
        padding-left: 3.3rem;
      }
    }
  }
  }
}



/*==============breadcrumbs css=================*/
.breadcrumbs-3{
  margin: 0px;
  ul{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    li{
      display: inline-block;
        &:not(:last-child){ 
          &::after{
            content: "|" !important;
            color: #000;
            font-size: 15px;
          }
         
      }
   
      a{
        color: #000;
        font-family: 'Gotham-Medium';
        font-size: 14.52px;
      }
    }
  }
}

.breadcrumbs-1{
  background: #000;
  height: 50px;
  margin: 0px;
  .center{
    display: table;
    height: 50px;
    margin: 0 auto;
    ul{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      li{
        
          &:not(:last-child){ 
            &::after{
              content: "|" !important;
              color: #fff;
              font-size: 15px;
            }
           
        }
     
        a{
          color: #fff;
          font-family: 'Gotham-Medium';
          font-size: 14.52px;
        }
      }
    }
  }

}

.breadcrumbs-2{
  margin: 20px 0px;
  li{
    color:#DC8A03;
    font-family: 'Gotham-Medium';
    font-size: 10.89px;
    a{
      color:#000;
      font-family: 'Gotham-Medium';
      font-size: 10.89px;
    }
         
    &:not(:last-child){ 
      &::after{
        color: #000;
      }
     
  }
  }

}
/*==============jarallax css=================*/
.bodytext-wrapper-inner{
  .bodytext{
    padding: 0px 10rem;
    h1,h2,p{
    text-align: center;
    margin-bottom: 20px;
    }
    h1{
      font-size: 36.3px;
      font-family: 'Gotham-Black';
      padding: 0px;
    }
    h2{
      font-size: 21.78px;
      font-family: 'Gotham-Book';
      text-transform: uppercase;
    }
    p{
      font-size: 21.78px;
      font-family: 'Better';
    }
    }
}

.brands-main-image{
height: 365px;
background: #fff;
margin: 2rem auto;
text-align: center;
-webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
-moz-box-shadow:    0px 10px 30px rgba(10, 10, 10, 0.3);
box-shadow:         0px 10px 30px rgba(10, 10, 10, 0.3);
img{
  max-width: 100%;
  height: auto;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
}

/*==============jarallax css=================*/

.jarallax {
  position: relative;
  z-index: 0;
  .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}


/*==============tabs css=================*/
.tabs-title>a[aria-selected=true]{
  color:#981C1E;
  background: none;
  border: none;
}

ul.tabs{
  background: none;
  border: none;
  margin: 0 auto;
  display: table;
  li{
 
    a{
      font-size: 18.15px;
      font-family: 'Gotham-Bold';
      color: #000;
      position: relative;
      background: none;
      border: none;
      &:after{
    content: "|";
    position: absolute;
    left: 0px;
    font-size: 19px;
    color: #000;
      }
      &:focus,&:hover{
        color:#981C1E;
        background: none;
        border: none;
      }
    }
    &:first-child{
      a{
        &::after{
          display: none;
        }
      }
    }
  }
}



.accordioncontent.owl-carousel{
  .owl-item{
    img{
      width: initial;
      max-width: 100%;
      height: auto;
      display: initial;
    }
  }
}


.accordioncontent{
background: url(../img/accordionactivetexture.png) transparent;  
width: 100vw;
margin-left: -8vw;
padding: 2rem 0rem;
margin-top: 2rem;
margin-bottom: 2rem;
-webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
-moz-box-shadow:    0px 10px 30px rgba(10, 10, 10, 0.3);
box-shadow:         0px 10px 30px rgba(10, 10, 10, 0.3);
.closebutton{
  float: right;
  font-size: 40px;
  color: #000;
}
.partner-wrapper{
  margin: 0px;
  padding: 0px;
li{
  img{
    width: initial;
    max-width: 100%;
    height: auto;
    display: initial;
  }
  display: inline-block;
  padding-left: 10px;
  &:first-child{
    padding-left: 0px;
  }
}
}
a{
  text-transform: uppercase;
}
h2{
  font-size: 21.78px;
  font-family: 'Gotham-Bold';
  padding: 0px;
}
h1{
  font-size: 56.62px;
  font-family: 'Gotham-Black';
  line-height: normal;
  padding: 0px;
}
h1,h2,p,a {
  text-align: left;
margin: 0px 0px 20px 0px;
}
p{
  font-size: 16.7px;
}
img{
  max-width: 100%;
  height: auto;
  width: 183px;
  margin: 0 auto;
  display: table-cell;
}
}
.brand-tabs{
  background: none;
.accordionheader{
  height: 283px;
  background: #fefefe;
  margin: 0px 0px 20px 20px;
 text-align: center;
  padding: 30px 0px 0px 0px;
  display: block;
  -webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  -moz-box-shadow:    0px 10px 30px rgba(10, 10, 10, 0.3);
  box-shadow:         0px 10px 30px rgba(10, 10, 10, 0.3);
  img{
margin: 0 auto;
  }
}
  .tabs-panel{
    padding: 0;
  }

  .large-3{
&:nth-of-type(2),&:nth-of-type(6),&:nth-of-type(10){
  .accordioncontent{
    margin-left: -140%;
  }
}
&:nth-of-type(3),&:nth-of-type(7),&:nth-of-type(11),&:nth-of-type(14){
  .accordioncontent{
    margin-left: -240%;
  }
}
&:nth-of-type(4),&:nth-of-type(8),&:nth-of-type(12),&:nth-of-type(16){
  .accordioncontent{
    margin-left: -342%;
  }
}
  }
 .accordionheader:hover,.accordionheader:focus{
background:#F0F0F0;
  }
}

.owl-inner-carousel{
  .owl-nav {
    top: initial;
    bottom: 50px;
    .owl-prev,.owl-next{
      background-image: url(../img/arrowthumb02.png) !important;
      height: 51px;
      width: 49px;
      right: 0px;
      left: initial;
    }
    .owl-prev{
     // right: 49px;
    background-position: 50px 0px !important;
    right: 50px;
    }
    .owl-next{
      right: 100px;
    }
  }
}

.full-button-width{
  width: 100%;
  text-align: center;
  font-size: 29.04px;
  font-family: "Gotham-Bold";
  background: url(../img/arrowbutton.png) #981C1E;
  background-repeat: no-repeat;
  background-position: 93% center;
  padding: 40px 0px;
  -webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  -moz-box-shadow:    0px 10px 30px rgba(10, 10, 10, 0.3);
  box-shadow:         0px 10px 30px rgba(10, 10, 10, 0.3);
}

.button-wrapper{
  background: #DEDBDB;
  padding: 3.5rem 0px;
}

.profile-our-people {
.jarallax{
  min-height: 464px;
}
}
.profile-title {
  font-family: "Gotham-Black";
  font-size: 33.5px;
  text-transform: uppercase;
  color: #000;
  padding: 1.9rem 10rem 1.9rem 0rem;
  margin: 0px;
  line-height: normal;
}

.inline-buttons{
  .full-button-width{
    text-align: left;
    font-size: 25.04px;
    padding: 40px 0px 40px 30px;
  }
  .cell{
    &:first-child{
      .full-button-width{
        background-color: #DD8A03;
      }
    }
  }
}