/**font family**/
@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/Gotham-Bold.woff2") format("woff2"), 
  url("../fonts/Gotham-Bold.woff") format("woff"), 
  url("../fonts/Gotham-Bold.ttf") format("truetype"), 
  url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
 }
@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/Gotham-Black.eot");
  src: url("../fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/Gotham-Black.woff2") format("woff2"), 
  url("../fonts/Gotham-Black.woff") format("woff"), 
  url("../fonts/Gotham-Black.ttf") format("truetype"), 
  url("../fonts/Gotham-Black.svg#Gotham-Black") format("svg");
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
 }

  @font-face {
    font-family: "Gotham-Medium";
    src: url("../fonts/Gotham-Medium.eot");
    src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Gotham-Medium.woff2") format("woff2"), 
    url("../fonts/Gotham-Medium.woff") format("woff"), 
    url("../fonts/Gotham-Medium.ttf") format("truetype"), 
    url("../fonts/Gotham-Medium.svg#Gotham-Medium") format("svg");
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }


    @font-face {
      font-family: "Gotham";
      src: url("../fonts/Gotham.eot");
      src: url("../fonts/Gotham.eot?#iefix") format("embedded-opentype"), 
      url("../fonts/Gotham.woff2") format("woff2"), 
      url("../fonts/Gotham.woff") format("woff"), 
      url("../fonts/Gotham.ttf") format("truetype"), 
      url("../fonts/Gotham.svg#Gotham") format("svg");
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
    }


    @font-face {
      font-family: "Bitter";
      src: url("../fonts/Bitter.eot");
      src: url("../fonts/Bitter.eot?#iefix") format("embedded-opentype"), 
      url("../fonts/Bitter.woff2") format("woff2"), 
      url("../fonts/Bitter.woff") format("woff"), 
      url("../fonts/Bitter.ttf") format("truetype"), 
      url("../fonts/Bitter.svg#Bitter") format("svg");
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
    }


.Gotham-Bold{
        font-family: "Gotham-Bold";
      }
.Gotham-Black{
        font-family: "Gotham-Black";
      }
.Gotham-Medium{
      font-family: "Gotham-Medium";
      }
.Gotham{
  font-family: "Gotham";
}
.Bitter{
  font-family: "Bitter";
}
p{ 
  font-family: "Bitter";
}
/*==============common css=================*/

.grid-container{
  max-width: 87%;
}

body{
  background: #F0F0F0;
}


.panel {
  background: #fff;
  -webkit-box-shadow: 0 3px 8px 0px #85888a;
  box-shadow: 0 3px 8px 0px #85888a;
  a{
    font-family: "Gotham-Bold";
    line-height: normal;
    font-size: 23px;
    margin-bottom: 2.5rem;
    color: #000;
    display: block;
    clear: both;
    padding: 40px 90px 40px 40px;
    position: relative;
    &::after{
      height: 45px;
      position: absolute;
      background: url(../img/arrow.png);
      background-repeat: no-repeat;
      content: "";
      width: 93px;
      top: 35%;
      bottom: 50%;
      right: 0px;
      background-position: 20% 0%;
    }
    &:hover{
      &::after{
        background-repeat: no-repeat;
        background-position: 20% 98%;
      }
    }

}
    
  p{
    color: #000000;
    font-family: "Bitter";
    font-size: 12px;
  }
  img{
    display: block;
    clear: both;
  }
 }
.panel-yellow{
  background: #DC8A03;
  a{
    color:#fff;
    p{
      color:#fff;
      margin: 10px 0px 0px 0px;
    }
    &::after{
      background-position: 20% 50%;
    }
    &:hover{
      &::after{
        background-position: 20% 0%
      }
    }
  }
}


.grid-x {
.cell{
&:last-child{
  .panel-yellow{
  &:last-child{
    background: #981C1E;
  }
  }
}
}
}
.panel-wrapper{
.cell{
&:nth-child(1),&:nth-child(2){
.panel{
a{
  margin-bottom: 0px;
}
}
}
}
}
 .subheader{
  font-family: "Gotham-Bold";
  font-size: 24.5px;
  text-transform: uppercase;
  color: #000;
  padding: 1.5rem 0rem;
  margin: 0px;
 }
/*==============header=================*/
header{
background: #fff;
height: 74px;
  .logo{
    display: table-cell;
    vertical-align: middle;
    height: 74px;
    text-align: center;
  }
  .search_icon{
    position: relative;
    margin-top: 20px;
    display: block;
    height: 74px;
    &::after{
      content: "|";
      position: absolute;
      left: 0px;
      font-size: 25px;
    }
    &::before{
      content: "\f002";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: 400;
      text-decoration: inherit;
      color: #1a1a1a;
      font-size: 27px;
      position: absolute;
      left: 20px;
    }
    input[type=submit]{
      padding-left: 0;
      background: 0 0;
      border: none;
      font-size: 0;
      width: 48px;
    }
  }

  nav{
   // padding: 20px 0px 0px 0px;
a{
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Gotham-Medium";
  text-align: center;
  line-height: 74px;
  display: inline-block;
  &:hover,&.active{
    position: relative;
    z-index: 1;
    color: #fff;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
&::before{
  position: absolute;
  background: #981C1E;
  content: "";
  left: -6px;
  right: -6px;
  padding: 20px;
  z-index: -1;
  top: 0;
  bottom: 0;
}
  }

}
  }
}

/*==============banner=================*/

.banner{
  .overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    padding: 1rem;
    //background-color: rgba(10,10,10,40%);
    background-image: url(../img/overlay.png);
    color: #fefefe;
    height: 100%;
  }
  figure{
    figcaption{
    color: #fff;
    bottom: 20px;
    left: 5.5rem;
    background-color: rgba(10,10,10,0);
h1{
  font-family: "Gotham-Bold";
  font-size: 28px;
  line-height: normal;
  text-transform: uppercase;
  width: 80%;
  margin: 0px 0px 20px 0px;
}
      
      a{
        font-family: "Gotham-Bold";
        font-size: 14px;
        clear: both;
        text-transform: uppercase;
        background: #981C1E;
        padding: 0px;
        width: 132px;
        height: 33px;
        margin: 0px;
        line-height: 33px;
      }
    }
  }

  nav.orbit-bullets{
    position: absolute;
    right: 4rem;
    bottom: 0px;
    top: 30%;
    height: 100%;
    margin: 0 auto;
    button{
    background-color: #fff;   
    display: block;
    width: 14px;
    height: 14px;
    margin: 20px 0px 0px 0px;
    &.is-active{
      background-color: #981C1E; 
    }
    }
  }
}

footer.top{
  background: #c9c9c9;
  height: 133px;
  line-height: 133px;
  a{
color: #000;
font-size: 14px;
font-family: "Gotham-Medium";
text-transform: uppercase;
  }
  p{
    color: #000;
    font-size: 14px;
    font-family: "Gotham-Medium";
    text-align: center;
    padding: 30px 0px 0px 0px;
      }
      .social{
float: right;
a{
  padding: 0px 10px 0px 0px;
  &:last-child{
    padding: 0px;
  }
  .fa{
    font-size: 20px;
  }
}
      }
}

footer.bottom{
  height: 127px;
  background: #000;
  padding: 40px 0px;

a{
  color: #fff;
  font-size: 14px;
  font-family: "Gotham-Medium";
  text-transform: uppercase;
  display: inline;
  padding: 0px 10px 0px 10px;
  position: relative;
  &::after{
    content: "|";
    position: absolute;
    right: -2px;
  }
  &:last-child{
    &::after{
      display: none;
    }
  }
}
p{
  clear: both;
  line-height: normal;
  color: #fff;
  font-family: "Gotham-Medium";
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 20px 0px 0px 0px;
}
}


/*==============thumbnail slider=================*/

.thumbnailcarousel{
background: #fff;
padding: 40px 0px 40px 0px;
height: 153px;
.owl-carousel{
padding: 0px 40px;
margin: 20px 0px 0px 0px;
img{
  width: initial;
}
}
}
.carousel-people{
.panel{
  .bodytextwrapper{
padding: 2rem;
  }
  .subheader{
    text-align: right;
    font-family: "Gotham-Black";
    font-size: 24.59px;
    text-align: right;
    font-family: "Gotham-Black";
    font-size: 24.59px;
    width: 98%;
    display: block;
    clear: both;
    margin: 0px;
  }
  p{
    font-size: 16.86px;
    text-align: right;
    display: block;
    clear: both;
  }
  a{
    font-family: "Gotham-Bold";
    font-size: 17.56px;
    display: block;
    clear: both;
    text-transform: uppercase;
    background: #981C1E;
    padding: 0px;
    width: 200px;
    height: 50px;
    margin: 0px;
    line-height: 50px;
    color:#fff;
    float: right;
    &::after{
     display:none
    }
  }
}
}
.owl-nav{
.owl-prev,.owl-next{
  span{
    font-size: 0px;
    background-image: url(../img/arrowcarouselleft.png);
    display: block;
    height: 31px;
    width: 19px;
    position: absolute;
    top: 0px;
    bottom:0px;
  }

}
.owl-prev{
  span{
  left: 0px;
  }
}
.owl-next{
  span{
    background-image: url(../img/arrowcarouselright.png) !important;
    right: 0px;
  }
}
}


/*==============stock=================*/

.stock-wrapper{
.grid-container-full{
  .cell{
    h1{
      font-family: "Gotham-Medium";
      font-size: 23px;
      clear: both;
      height: 78px;
      color: #fff;
      line-height: 78px;
      padding-left: 6.4rem;
      margin: 0px
    }
    &:first-child{
      h1{
        background: #981C1E;
        text-transform: capitalize;
      }
    }
    &:last-child{
      h1{
        background: #DC8A03;
        text-transform: uppercase;
       
      }
    }
  }
  }
}