/**font family**/
@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/Gotham-Black.eot");
  src: url("../fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Black.woff2") format("woff2"), url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.ttf") format("truetype"), url("../fonts/Gotham-Black.svg#Gotham-Black") format("svg");
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: "Gotham-Medium";
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg#Gotham-Medium") format("svg");
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham.eot");
  src: url("../fonts/Gotham.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham.woff2") format("woff2"), url("../fonts/Gotham.woff") format("woff"), url("../fonts/Gotham.ttf") format("truetype"), url("../fonts/Gotham.svg#Gotham") format("svg");
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: "Bitter";
  src: url("../fonts/Bitter.eot");
  src: url("../fonts/Bitter.eot?#iefix") format("embedded-opentype"), url("../fonts/Bitter.woff2") format("woff2"), url("../fonts/Bitter.woff") format("woff"), url("../fonts/Bitter.ttf") format("truetype"), url("../fonts/Bitter.svg#Bitter") format("svg");
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: "Gotham-BookItalic";
  src: url("../fonts/Gotham-BookItalic.eot");
  src: url("../fonts/Gotham-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-BookItalic.woff2") format("woff2"), url("../fonts/Gotham-BookItalic.woff") format("woff"), url("../fonts/Gotham-BookItalic.ttf") format("truetype"), url("../fonts/Gotham-BookItalic.svg#Gotham-BookItalic") format("svg");
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: "Bitter-Italic";
  src: url("../fonts/Bitter-Italic.eot");
  src: url("../fonts/Bitter-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Bitter-Italic.woff2") format("woff2"), url("../fonts/Bitter-Italic.woff") format("woff"), url("../fonts/Bitter-Italic.ttf") format("truetype"), url("../fonts/Bitter-Italic.svg#Bitter-Italic") format("svg");
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
.Gotham-Bold {
  font-family: "Gotham-Bold"; }

.Gotham-Black {
  font-family: "Gotham-Black"; }

.Gotham-Medium {
  font-family: "Gotham-Medium"; }

.Gotham {
  font-family: "Gotham"; }

.Bitter {
  font-family: "Bitter"; }

p {
  font-family: "Bitter";
  font-size: 20.78px;
  margin-bottom: 2rem; }

.bodytextcontent {
  padding: 20px 73px; }

.quote {
  font-family: "Bitter-Italic";
  display: block;
  clear: both;
  padding: 1.9rem 1rem 0rem 0rem; }
  .quote p {
    font-family: "Bitter";
    font-style: italic;
    font-size: 25px; }

/*==============common css=================*/
.grid-container {
  max-width: 87%;
  padding: 0px; }

body {
  background: #F0F0F0; }

.button {
  background-color: #981C1E;
  margin: 0px;
  font-family: "Gotham-Bold"; }

.panel {
  background: #fff;
  -webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3); }
  .panel .jarallax {
    min-height: 506px; }
  .panel a {
    font-family: "Gotham-Bold";
    line-height: normal;
    font-size: 24.59px;
    margin-bottom: 2.5rem;
    color: #000;
    display: block;
    clear: both;
    padding: 50px 90px 50px 40px;
    position: relative; }
    .panel a::after {
      height: 45px;
      position: absolute;
      background: url(../img/arrow.png);
      background-repeat: no-repeat;
      content: "";
      width: 93px;
      top: 35%;
      bottom: 50%;
      right: 0px;
      background-position: 20% 0%; }
    .panel a:hover::after {
      background-repeat: no-repeat;
      background-position: 20% 98%; }
  .panel p {
    color: #000000;
    font-family: "Bitter";
    font-size: 12px; }
  .panel img {
    display: block;
    clear: both; }

.panel-yellow, .panel-brown {
  background: #DC8A03; }
  .panel-yellow a, .panel-brown a {
    color: #fff; }
    .panel-yellow a p, .panel-brown a p {
      color: #fff;
      margin: 10px 0px 0px 0px; }
    .panel-yellow a::after, .panel-brown a::after {
      background-position: 20% 50%; }
    .panel-yellow a:hover::after, .panel-brown a:hover::after {
      background-position: 20% 0%; }

.grid-x .cell:last-child .panel-brown {
  background: #981C1E; }
  .grid-x .cell:last-child .panel-brown a {
    margin-bottom: 0px; }

.panel-wrapper .cell:nth-child(1) .panel a, .panel-wrapper .cell:nth-child(2) .panel a {
  margin-bottom: 0px; }
.panel-wrapper .jarallax {
  min-height: 491px; }

.panel-image .jarallax {
  min-height: 366px; }

.subheader {
  font-family: "Gotham-Bold";
  font-size: 25.5px;
  text-transform: uppercase;
  color: #000;
  padding: 1.9rem 0rem;
  margin: 0px; }

/*==============header=================*/
header.show-for-small-only {
  -webkit-backface-visibility: hidden;
  background: #fff;
  color: #fff;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative; }
  header.show-for-small-only .button {
    color: #fff;
    height: 2.8125rem;
    line-height: 2.8125rem;
    padding: 0;
    width: 2.8125rem; }
  header.show-for-small-only .logo {
    margin: 0 auto; }
  header.show-for-small-only .searchmobi {
    float: right; }

header {
  background: #fff;
  height: 74px; }
  header .logo {
    display: table;
    vertical-align: middle;
    height: 74px;
    text-align: center;
    margin: 15px auto; }
  header .search_icon {
    position: relative;
    margin-top: 13px;
    display: block;
    padding: 1em 1.5em;
    background: #fff; }
    header .search_icon:hover, header .search_icon:active, header .search_icon:focus {
      background: #fff;
      color: #fff; }
    header .search_icon::after {
      content: "|";
      position: absolute;
      left: 0px;
      font-size: 19px;
      color: #000; }
    header .search_icon .fa {
      color: #000;
      font-size: 19px; }
  header nav a {
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Gotham-Medium";
    text-align: center;
    line-height: 74px;
    display: inline-block; }
    header nav a:hover, header nav a.active {
      position: relative;
      z-index: 1;
      color: #fff;
      -webkit-transition: 0.6s ease-out;
      -moz-transition: 0.6s ease-out;
      transition: 0.6s ease-out; }
      header nav a:hover::before, header nav a.active::before {
        position: absolute;
        background: #981C1E;
        content: "";
        left: -6px;
        right: -6px;
        padding: 20px;
        z-index: -1;
        top: 0;
        bottom: 0; }
      header nav a:hover.active, header nav a.active.active {
        padding-right: 30px;
        padding-left: 30px; }

/*==============banner=================*/
.banner .jarallax {
  min-height: 465px; }
.banner .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  padding: 1rem;
  background-image: url(../img/overlay.png);
  color: #fefefe;
  height: 100%; }
.banner figure figcaption {
  color: #fff;
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  padding: 1rem;
  bottom: 20px;
  left: 5.5rem; }
  .banner figure figcaption h1 {
    font-family: "Gotham-Bold";
    font-size: 28px;
    line-height: normal;
    text-transform: uppercase;
    width: 80%;
    margin: 0px 0px 20px 0px; }
  .banner figure figcaption a {
    font-family: "Gotham-Bold";
    font-size: 14px;
    clear: both;
    text-transform: uppercase;
    background: #981C1E;
    padding: 0px;
    width: 132px;
    height: 33px;
    margin: 0px;
    line-height: 33px; }
.banner .owl-dots {
  position: absolute;
  right: 7.3rem;
  bottom: 0px;
  top: 10rem;
  height: 100%;
  margin: 0 auto;
  width: initial;
  left: initial; }
  .banner .owl-dots .owl-dot {
    background-color: #fff;
    display: block;
    width: 10px;
    height: 10px;
    margin: 20px 0px 0px 0px;
    border-radius: 50%; }
    .banner .owl-dots .owl-dot.active {
      background-color: #DC8A03; }

footer.top {
  background: #c9c9c9;
  height: 133px;
  line-height: 133px; }
  footer.top a {
    color: #000;
    font-size: 14.05px;
    font-family: "Gotham-Medium";
    text-transform: uppercase; }
  footer.top p {
    color: #000;
    font-size: 14.05px;
    font-family: "Gotham-Medium";
    text-align: center;
    padding: 30px 0px 0px 0px;
    margin: 0px; }
  footer.top .social {
    float: right; }
    footer.top .social a {
      padding: 0px 10px 0px 0px; }
      footer.top .social a:last-child {
        padding: 0px; }
      footer.top .social a .fa {
        font-size: 25px; }

footer.bottom {
  height: 127px;
  background: #000;
  padding: 40px 0px; }
  footer.bottom a {
    color: #fff;
    font-size: 11.94px;
    line-height: 11.94px;
    font-family: "Gotham-Medium";
    text-transform: capitalize;
    display: inline;
    padding: 0px 8px 0px 8px;
    position: relative; }
    footer.bottom a::after {
      content: "|";
      position: absolute;
      right: -2px;
      top: 0px; }
    footer.bottom a:last-child::after {
      display: none; }
  footer.bottom p {
    clear: both;
    line-height: normal;
    color: #fff;
    font-family: "Gotham-Medium";
    text-align: center;
    text-transform: uppercase;
    font-size: 11.94px;
    letter-spacing: 1px;
    margin: 20px 0px 0px 0px; }

/*==============reveal modal=================*/
.reveal {
  background: #DC8A03;
  border: none;
  padding: 6rem; }
  .reveal .subheader {
    text-align: center;
    color: #fff;
    padding: 0px;
    font-style: italic;
    text-transform: capitalize; }
  .reveal [type=text] {
    margin: 0px;
    border-radius: 20px 0px 0px 20px; }
  .reveal .button {
    border-radius: 0px 20px 20px 0px; }
  .reveal p {
    color: #fff;
    font-style: italic;
    text-align: center; }

/*==============thumbnail slider=================*/
.owl-dots {
  position: absolute;
  bottom: -30px;
  text-align: center;
  width: 100%; }
  .owl-dots .owl-dot {
    background-color: #fff !important;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px 20px 0px 0px;
    border-radius: 50%; }
    .owl-dots .owl-dot.active {
      background-color: #DC8A03 !important; }

.thumbnailcarousel {
  background: #fff;
  padding: 40px 0px 40px 0px;
  height: 153px; }
  .thumbnailcarousel .owl-carousel {
    padding: 0px 40px;
    margin: 20px 0px 0px 0px; }
    .thumbnailcarousel .owl-carousel .owl-nav {
      top: 0%; }
    .thumbnailcarousel .owl-carousel img {
      width: initial; }

.carousel-people, .carousel-people-inner {
  -webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  margin: 0px 0px 4rem 0px; }
  .carousel-people .owl-dots, .carousel-people-inner .owl-dots {
    bottom: -57px; }
    .carousel-people .owl-dots .owl-dot, .carousel-people-inner .owl-dots .owl-dot {
      width: 33px;
      height: 4px;
      border-radius: 0; }
  .carousel-people .owl-nav, .carousel-people-inner .owl-nav {
    top: initial;
    bottom: 50px; }
    .carousel-people .owl-nav .owl-prev, .carousel-people .owl-nav .owl-next, .carousel-people-inner .owl-nav .owl-prev, .carousel-people-inner .owl-nav .owl-next {
      background-image: url(../img/arrowthumb.png) !important;
      height: 51px;
      width: 49px; }
    .carousel-people .owl-nav .owl-next, .carousel-people-inner .owl-nav .owl-next {
      left: 49px;
      background-position: 50px 0px !important; }
  .carousel-people .jarallax, .carousel-people-inner .jarallax {
    min-height: 448px; }
  .carousel-people .panel .bodytextwrapper, .carousel-people-inner .panel .bodytextwrapper {
    padding: 3rem 3rem 3rem 4rem; }
  .carousel-people .panel .subheader, .carousel-people-inner .panel .subheader {
    text-align: right;
    font-family: "Gotham-Black";
    font-size: 24.59px;
    margin: 0px;
    padding: 0px;
    display: block;
    clear: both;
    margin: 0px; }
  .carousel-people .panel p, .carousel-people-inner .panel p {
    font-size: 16.86px;
    text-align: right;
    display: block;
    clear: both; }
  .carousel-people .panel a, .carousel-people-inner .panel a {
    font-family: "Gotham-Bold";
    font-size: 17.56px;
    display: block;
    clear: both;
    text-transform: uppercase;
    background: #981C1E;
    padding: 0px;
    width: 200px;
    height: 50px;
    margin: 0px;
    line-height: 50px;
    color: #fff;
    float: right; }
    .carousel-people .panel a::after, .carousel-people-inner .panel a::after {
      display: none; }

.owl-nav {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0px;
  left: 0px; }
  .owl-nav .owl-prev, .owl-nav .owl-next {
    font-size: 0px;
    background-image: url(../img/arrowcarouselleft.png) !important;
    display: block;
    height: 31px;
    width: 19px;
    position: absolute;
    top: 0px;
    bottom: 0px; }
    .owl-nav .owl-prev span, .owl-nav .owl-next span {
      font-size: 0px; }
  .owl-nav .owl-prev {
    left: 0px; }
  .owl-nav .owl-next {
    background-image: url(../img/arrowcarouselright.png) !important;
    right: 0px; }

/*==============stock=================*/
.stock-wrapper .grid-container-full .cell h1 {
  font-family: "Gotham-Medium";
  font-size: 23px;
  clear: both;
  height: 78px;
  color: #fff;
  line-height: 78px;
  padding-left: 6.4rem;
  margin: 0px; }
.stock-wrapper .grid-container-full .cell:first-child h1 {
  background: #981C1E;
  text-transform: capitalize; }
.stock-wrapper .grid-container-full .cell:last-child h1 {
  background: #DC8A03;
  text-transform: uppercase;
  font-size: 32.32px;
  padding-left: 3.3rem; }

/*==============breadcrumbs css=================*/
.breadcrumbs-3 {
  margin: 0px; }
  .breadcrumbs-3 ul {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .breadcrumbs-3 ul li {
      display: inline-block; }
      .breadcrumbs-3 ul li:not(:last-child)::after {
        content: "|" !important;
        color: #000;
        font-size: 15px; }
      .breadcrumbs-3 ul li a {
        color: #000;
        font-family: "Gotham-Medium";
        font-size: 14.52px; }

.breadcrumbs-1 {
  background: #000;
  height: 50px;
  margin: 0px; }
  .breadcrumbs-1 .center {
    display: table;
    height: 50px;
    margin: 0 auto; }
    .breadcrumbs-1 .center ul {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .breadcrumbs-1 .center ul li:not(:last-child)::after {
        content: "|" !important;
        color: #fff;
        font-size: 15px; }
      .breadcrumbs-1 .center ul li a {
        color: #fff;
        font-family: "Gotham-Medium";
        font-size: 14.52px; }

.breadcrumbs-2 {
  margin: 20px 0px; }
  .breadcrumbs-2 li {
    color: #DC8A03;
    font-family: "Gotham-Medium";
    font-size: 10.89px; }
    .breadcrumbs-2 li a {
      color: #000;
      font-family: "Gotham-Medium";
      font-size: 10.89px; }
    .breadcrumbs-2 li:not(:last-child)::after {
      color: #000; }

/*==============jarallax css=================*/
.bodytext-wrapper-inner .bodytext {
  padding: 0px 10rem; }
  .bodytext-wrapper-inner .bodytext h1, .bodytext-wrapper-inner .bodytext h2, .bodytext-wrapper-inner .bodytext p, .bodytext-wrapper-inner .bodytext span {
    text-align: center;
    margin-bottom: 20px;
    display: block;
    clear: both; }
  .bodytext-wrapper-inner .bodytext h1 {
    font-size: 36.3px;
    font-family: "Gotham-Black";
    padding: 0px; }
  .bodytext-wrapper-inner .bodytext h2 {
    font-size: 21.78px;
    font-family: "Gotham-Book";
    text-transform: uppercase; }
  .bodytext-wrapper-inner .bodytext p {
    font-size: 21.78px;
    font-family: "Bitter"; }
  .bodytext-wrapper-inner .bodytext span {
    font-size: 14.52px;
    font-family: "Gotham-Medium";
    text-transform: uppercase; }

.brands-main-image {
  height: 365px;
  background: #fff;
  margin: 2rem auto;
  text-align: center;
  -webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3); }
  .brands-main-image img {
    max-width: 100%;
    height: auto;
    width: 80%;
    margin: 0 auto;
    text-align: center; }

/*==============jarallax css=================*/
.jarallax {
  position: relative;
  z-index: 0; }
  .jarallax .jarallax-img {
    position: absolute;
    object-fit: fill !important;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: fill !important;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

/*==============media-gallery css=================*/
.media-gallery img {
  object-fit: cover !important;
  font-family: 'object-fit: cover !important;'; }
.media-gallery .media-image-holder {
  padding: 0rem 0rem 0rem 4rem; }
  .media-gallery .media-image-holder img {
    object-fit: cover;
    font-family: 'object-fit: cover;'; }
.media-gallery p {
  font-size: 20.33px;
  font-family: "Gotham-Bold";
  margin: 1rem 0rem; }
.media-gallery .subheader {
  position: relative; }
  .media-gallery .subheader:after {
    position: absolute;
    left: 7%;
    width: 93%;
    border-top: solid #999999 1px;
    content: "";
    top: 50%;
    bottom: 50%; }

/*==============tabs css=================*/
.tabs-title > a[aria-selected=true] {
  color: #981C1E;
  background: none;
  border: none; }

ul.tabs {
  background: none;
  border: none;
  margin: 0 auto;
  display: table; }
  ul.tabs li a {
    font-size: 18.15px;
    font-family: 'Gotham-Bold';
    color: #000;
    position: relative;
    background: none;
    border: none; }
    ul.tabs li a:after {
      content: "|";
      position: absolute;
      left: 0px;
      font-size: 19px;
      color: #000; }
    ul.tabs li a:focus, ul.tabs li a:hover {
      color: #981C1E;
      background: none;
      border: none; }
  ul.tabs li:first-child a::after {
    display: none; }

.accordioncontent.owl-carousel .owl-item img {
  width: initial;
  max-width: 100%;
  height: auto;
  display: initial; }

.accordioncontent {
  background-image: url(../img/accordionactivetexture.png);
  width: 100vw;
  margin-left: -8vw;
  padding: 2rem 0rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3); }
  .accordioncontent .closebutton {
    float: right;
    font-size: 40px;
    color: #000; }
  .accordioncontent .partner-wrapper {
    margin: 0px;
    padding: 0px; }
    .accordioncontent .partner-wrapper li {
      display: inline-block;
      padding-left: 10px; }
      .accordioncontent .partner-wrapper li img {
        width: initial;
        max-width: 100%;
        height: auto;
        display: initial; }
      .accordioncontent .partner-wrapper li:first-child {
        padding-left: 0px; }
  .accordioncontent a {
    text-transform: uppercase; }
  .accordioncontent h2 {
    font-size: 21.78px;
    font-family: 'Gotham-Bold';
    padding: 0px; }
  .accordioncontent h1 {
    font-size: 56.62px;
    font-family: "Gotham-Black";
    line-height: normal;
    padding: 0px; }
  .accordioncontent h1, .accordioncontent h2, .accordioncontent p, .accordioncontent a {
    text-align: left;
    margin: 0px 0px 20px 0px; }
  .accordioncontent p {
    font-size: 16.7px; }
  .accordioncontent img {
    max-width: 100%;
    height: auto;
    width: 183px;
    margin: 0 auto;
    display: table-cell; }

.brand-tabs {
  background: none; }
  .brand-tabs .accordionheader {
    height: 283px;
    background: #fefefe;
    margin: 0px 0px 20px 20px;
    text-align: center;
    padding: 30px 0px 0px 0px;
    display: block;
    -webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
    -moz-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
    box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3); }
    .brand-tabs .accordionheader img {
      margin: 0 auto; }
  .brand-tabs .tabs-panel {
    padding: 0; }
  .brand-tabs .large-3:nth-of-type(2) .accordioncontent, .brand-tabs .large-3:nth-of-type(6) .accordioncontent, .brand-tabs .large-3:nth-of-type(10) .accordioncontent {
    margin-left: -140%; }
  .brand-tabs .large-3:nth-of-type(3) .accordioncontent, .brand-tabs .large-3:nth-of-type(7) .accordioncontent, .brand-tabs .large-3:nth-of-type(11) .accordioncontent, .brand-tabs .large-3:nth-of-type(14) .accordioncontent {
    margin-left: -240%; }
  .brand-tabs .large-3:nth-of-type(4) .accordioncontent, .brand-tabs .large-3:nth-of-type(8) .accordioncontent, .brand-tabs .large-3:nth-of-type(12) .accordioncontent, .brand-tabs .large-3:nth-of-type(16) .accordioncontent {
    margin-left: -342%; }
  .brand-tabs .accordionheader:hover, .brand-tabs .accordionheader:focus {
    background: #F0F0F0; }

.owl-inner-carousel .owl-nav {
  top: initial;
  bottom: 50px; }
  .owl-inner-carousel .owl-nav .owl-prev, .owl-inner-carousel .owl-nav .owl-next {
    background-image: url(../img/arrowthumb02.png) !important;
    height: 51px;
    width: 49px;
    right: 0px;
    left: initial; }
  .owl-inner-carousel .owl-nav .owl-prev {
    background-position: 50px 0px !important;
    right: 50px; }
  .owl-inner-carousel .owl-nav .owl-next {
    right: 100px; }

.full-button-width {
  width: 100%;
  text-align: center;
  font-size: 29.04px;
  font-family: "Gotham-Bold";
  background: url(../img/arrowbutton.png) #981C1E;
  background-repeat: no-repeat;
  background-position: 93% center;
  padding: 40px 0px;
  -webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3); }

.button-wrapper {
  background: #DEDBDB;
  padding: 3.5rem 0px; }

.profile-our-people .owl-carousel {
  margin: 20px 0px 0px 0px; }
  .profile-our-people .owl-carousel .owl-dots {
    display: none; }
  .profile-our-people .owl-carousel .jarallax-img {
    object-fit: fill !important;
    font-family: 'object-fit: fill !important;'; }
.profile-our-people .jarallax {
  min-height: 464px; }

.profile-title {
  font-family: "Gotham-Black";
  font-size: 33.5px;
  text-transform: uppercase;
  color: #000;
  padding: 1.9rem 10rem 1.9rem 0rem;
  margin: 0px;
  line-height: normal; }

.inline-buttons .full-button-width {
  text-align: left;
  font-size: 25.04px;
  padding: 40px 0px 40px 30px; }
.inline-buttons .cell:first-child .full-button-width {
  background-color: #DD8A03; }

.news-page-main .button, .news-page-main .panel.panel-yellow, .news-page-main .panel.panel-brown, .investor-page-main .button, .investor-page-main .panel.panel-yellow, .investor-page-main .panel.panel-brown {
  margin: 0rem 0rem 2rem 0rem; }
.news-page-main .more-news .jarallax, .investor-page-main .more-news .jarallax {
  min-height: 279px; }
  .news-page-main .more-news .jarallax .jarallax-img, .investor-page-main .more-news .jarallax .jarallax-img {
    object-fit: contain !important;
    font-family: 'object-fit: contain !important;'; }
.news-page-main .more-news .panel, .investor-page-main .more-news .panel {
  margin: 0rem;
  padding: 0px;
  background: #Fff;
  display: initial;
  clear: initial; }
  .news-page-main .more-news .panel a, .investor-page-main .more-news .panel a {
    font-size: 18.16px;
    padding: 20px 60px 20px 20px;
    background-color: #fff; }
    .news-page-main .more-news .panel a::after, .investor-page-main .more-news .panel a::after {
      background-size: 40px 95px; }
.news-page-main .profile-title, .investor-page-main .profile-title {
  font-size: 30.31px;
  text-transform: uppercase;
  padding: 1rem 0; }
.news-page-main .large-3 p, .investor-page-main .large-3 p {
  font-size: 20.79px;
  font-family: "Gotham-Book";
  margin-bottom: 0px;
  line-height: 1.3; }
.news-page-main .large-3 ul.quicklinks, .investor-page-main .large-3 ul.quicklinks {
  margin: 0px 0px 0px 20px;
  padding: 0px; }
  .news-page-main .large-3 ul.quicklinks li a, .investor-page-main .large-3 ul.quicklinks li a {
    font-size: 18.16px;
    font-family: 'Gotham-Bold';
    color: #000; }
.news-page-main .subheader, .investor-page-main .subheader {
  font-family: 'Gotham-Bold';
  font-size: 21.79px;
  padding: 1rem 0; }

.investor-page-main .quicklinkswrapper {
  margin: 2rem 0rem; }
  .investor-page-main .quicklinkswrapper .subheader {
    padding: 0rem 0rem 2rem 0rem;
    line-height: normal; }
  .investor-page-main .quicklinkswrapper .large-9 .button {
    margin-bottom: 0px; }

.our-bussiness-container p {
  font-size: 14.52px; }
.our-bussiness-container h1 {
  font-size: 29.04px;
  font-family: "Gotham-Black";
  text-transform: uppercase; }
.our-bussiness-container .our-value-accordion, .our-bussiness-container .our-company-accordion, .our-bussiness-container .our-leadership-accordion {
  background: #E2E2E2;
  padding: 2rem 0rem; }
  .our-bussiness-container .our-value-accordion ul.tabs, .our-bussiness-container .our-company-accordion ul.tabs, .our-bussiness-container .our-leadership-accordion ul.tabs {
    padding: 0px;
    margin: 0px;
    width: 100%; }
    .our-bussiness-container .our-value-accordion ul.tabs li a, .our-bussiness-container .our-company-accordion ul.tabs li a, .our-bussiness-container .our-leadership-accordion ul.tabs li a {
      font-size: 12.34px;
      font-family: "Gotham-Black";
      border-bottom: solid 2px #DADADA;
      padding: 0.8rem 0rem;
      text-transform: uppercase; }
      .our-bussiness-container .our-value-accordion ul.tabs li a .fa, .our-bussiness-container .our-company-accordion ul.tabs li a .fa, .our-bussiness-container .our-leadership-accordion ul.tabs li a .fa {
        float: right;
        font-size: 18px; }
      .our-bussiness-container .our-value-accordion ul.tabs li a::after, .our-bussiness-container .our-company-accordion ul.tabs li a::after, .our-bussiness-container .our-leadership-accordion ul.tabs li a::after {
        display: none; }
.our-bussiness-container .tabs-content {
  background: #E2E2E2;
  padding: 1rem 1rem 1rem 4rem;
  border: none; }
  .our-bussiness-container .tabs-content h1 {
    font-size: 34.85px;
    font-family: "Gotham-Bold"; }

.our-company-accordion {
  background: #F0F0F0 !important; }
  .our-company-accordion .tabs-content {
    background: #F0F0F0;
    padding: 0rem 1rem 0rem 1rem;
    border: none; }
    .our-company-accordion .tabs-content h1 {
      font-size: 21.06px;
      font-family: "Gotham-Bold"; }

.boardthumb .item .panel-image .accordionheader {
  -webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.3);
  width: 207px;
  height: 212px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  display: block;
  border: solid 1px #fff;
  background-color: #EDE7E7; }
.boardthumb .item .panel-image .name {
  font-size: 13.07px;
  font-family: "Gotham-Bold";
  text-align: center;
  margin: 10px 0px 0px 0px; }
.boardthumb .item .panel-image .position {
  font-size: 13.07px;
  font-family: "Gotham-Book";
  text-align: center; }
.boardthumb .item .accordioncontent {
  background-image: none !important;
  background-color: #fff;
  margin: 0px;
  width: 900px;
  padding: 1rem 2rem; }

.our-leadership-accordion .tabs-content {
  padding: 0rem; }
.our-leadership-accordion .tabs-panel {
  padding: 0rem 0rem 0rem 4rem; }
.our-leadership-accordion .owl-nav {
  top: 40%; }
.our-leadership-accordion .accordioncontent {
  display: block; }

/*# sourceMappingURL=app.css.map */
